body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    color: white;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}
.container{
    margin: 40px;
    background-color: black;
}
.content{
    background-color: black;
    box-shadow: 9px 11px 35px rgb(22, 21, 21);
    border: 1px solid;
    padding: 10px;
}
span{
    margin: 15px;
}
img{
    width: 10em;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 25px;
    
}
p{
    margin: 5px;
}
p#name{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 800;
}
p#univ{
    text-align: center;
    font-family: cursive ;
    font-size: 13px;
    padding-bottom: 10px;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p#desc{
    text-align: center;
    font-weight: 500;
}
p#skill{
    margin-top: 30px;
    text-align: center;
    border: 1px solid;
    background-color: rgb(79, 144, 185);
    width: 50%;
    margin-left: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#descSkill{
    border: 1px solid;
    width: 50%;
    margin-left: 25%;
    padding-bottom:20px;
    padding-top:20px;
    background-color: rgb(18, 23, 51);
}
p#pengalaman{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid;
    background-color: rgba(216, 41, 35, 0.794);
    width: 50%;
    margin-left: 25%;
}
#descPengalaman{
    padding-bottom:20px;
    padding-top:20px;
    border: 1px solid;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
    background-color: rgba(71, 27, 27, 0.726);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(94, 173, 84);
}
a.home{
    color: rgb(94, 173, 84);
}